.navbar {
    overflow: hidden;
    background-color: #262626;
    font-family: Arial;
    height: 54px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;

}

#logo{
    position: fixed;
    z-index: 6;
    width: 52px;
    height: 40px;
}

.head3 {
    position: fixed;
    top: -3px;
    left: 6%;
    font-family: Arial;
    z-index: 6;
    color: white
}

#drop1 {
    position: absolute;
    top: 4px;
    border-radius: 16px;
    left: 57.5%;
    float: right;
    overflow: hidden;
    background-color: inherit;
}

#drop2 {
    position: absolute;
    top: 4px;
    border-radius: 16px;
    left: 67%;
    float: right;
    overflow: hidden;
    background-color: inherit;
}

#drop3 {
    position: absolute;
    top: 4px;
    left: 48%;
    border-radius: 16px;
    float: right;
    overflow: hidden;
    background-color: inherit;
}

#drop4 {
    position: absolute;
    top: 4px;
    left: 76%;
    border-radius: 16px;
    float: right;
    overflow: hidden;
    background-color: inherit;
}

#drop5 {
    position: absolute;
    top: 4px;
    left: 90%;
    border-radius: 16px;
    float: right;
    overflow: hidden;
    background-color: inherit;
}

.accordion1, .accordion2{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    font-size: 17px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion1:hover, .accordion2:hover{
    background-color: #ccc;
}

.panel1, .panel2{
    width: 90%;
    font-size: 19px;;
    font-family: arial;
    color: black;
    text-align: left;
    margin-left: 5%;
    text-shadow: 2px 2px 2px grey;
    background-color: white;
    display: none;
    overflow: hidden;
}

.dropdown .dropbtn1{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    color: white;
}

.dropdown .dropbtn2{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: #262626;
    font: inherit;
    color: white;
}

.dropdown .dropbtn3{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    color: white;
}

.dropdown .dropbtn4{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: white;
    font: inherit;
    color: black;
}

.dropdown .dropbtn5{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    color: white;
}

.dropdown:hover .dropbtn1{
    background-color: white;
    color: black;
}

.dropdown:hover .dropbtn2{
    background-color: white;
    color: black;
}

.dropdown:hover .dropbtn3{
    background-color: white;
    color: black;
}

.dropdown:hover .dropbtn4{
    background-color: white;
    color: black;
}

.dropdown:hover .dropbtn5{
    background-color: white;
    color: black;
}

.collab {
  text-shadow: 2px 2px 5px grey;
  position: absolute;
  width: 99.4%;
  height: 60px;
  background: linear-gradient(to right, rgba(211, 211, 211, 0), rgba(26, 26, 26, 1), rgba(0, 255, 0, 0));
  top: 54px;
  z-index: 4;
  font-size: 28px;
  text-align: center;
  color: white;
}

#collaboration{
  width: 100%;
  font-family: arial;
  font-size: 26px;
  position: absolute;
  top: -16px;
  text-align: center;
}
