.navbar {
    overflow: hidden;
    background-color: #262626;
    font-family: Arial;
    height: 54px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo{
    position: absolute;
    z-index: 3;
    width: 52px;
    height: 40px;
}

.head3 {
    position: absolute;
    top: -3px;
    left: 6%;
    font-family: Arial;
    z-index: 1;
    color: white
}

#drop1 {
    position: absolute;
    top: 4px;
    left: 70.8%;
    float: right;
    overflow: hidden;
    background-color: inherit;
}

#drop2 {
    position: absolute;
    top: 4px;
    left: 80.11%;
    float: right;
    overflow: hidden;
    background-color: white;
}

#drop3 {
    position: absolute;
    top: 4px;
    left: 61.9%;
    float: right;
    overflow: hidden;
    background-color: inherit;
}

#drop4 {
    position: absolute;
    top: 4px;
    left: 89%;
    float: right;
    overflow: hidden;
    background-color: inherit;
}

.dropdown .dropbtn1{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    color: white;
}

.dropdown .dropbtn2{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    color: black;
}

.dropdown .dropbtn3{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    color: white;
}

.dropdown .dropbtn4{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    color: white;
}

.dropdown:hover .dropbtn1{
    background-color: white;
    color: black;
}

.dropdown:hover .dropbtn2{
    background-color: white;
    color: black;
}

.dropdown:hover .dropbtn3{
    background-color: white;
    color: black;
}

.dropdown:hover .dropbtn4{
    background-color: white;
    color: black;
}

.mdropdown .mdropbtn{
    width: 160px;
    position: absolute;
    top: 200px;
    left: 6.8%;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: firebrick;
   font-family: arial;
    margin: 0;
}

.mdropdown:hover .mdropbtn {
    background-color: red;
}

.mdropdown-content {
    position: absolute;
    top: 240px;
    left: 6.8%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;font-family: arial;

}

.mdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    float: none;
}

.mdropdown-content a:hover {background-color: #ddd}

.mdropdown:hover .mdropdown-content {
    display: block;
}


#mdrop {
    position: absolute;
    top: 10px;
    left: 80%;
}

#currentm {
    position: absolute;
    top: 190px;
    display: block;
    width: 400px;
    height: 100px;
    
}

#pastm {
    position: absolute;
    top: 190px;
    display: none;
    width: 400px;
    height: 100px;
}

.cur {
  text-shadow: 2px 2px 5px grey;
  position: absolute;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, rgba(211, 211, 211, 0), rgba(26, 26, 26, 1), rgba(0, 255, 0, 0));
  top: 54px;
  z-index: 4;
  font-size: 28px;
  text-align: center;
  color: white;
}

#current{
    width: 100%;
  font-family: arial;
    font-size: 26px;
  position: absolute;
  top:-15px;
  text-align: center;
}

#person1 {
  position: absolute;
  top: 160px;
  width: 160px;
  height: 220px;
  left:3%;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#person2 {
    position: absolute;
    top: 160px;
    left:22.6%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#person3 {
    position: absolute;
    top: 160px;
    left:42%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#person4 {
    position: absolute;
    top: 160px;
    left:61.4%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#person5 {
    position: absolute;
    top: 160px;
    left:81%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#person6 {
    position: absolute;
    top: 500px;
    left:3%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#person7 {
    position: absolute;
    top: 500px;
    left:22.6%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}


#mimg1, #mimg2, #mimg3, #mimg4, #mimg5, #mimg6, #mimg7{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    width: 70%;
}

#mhead1, #mhead2, #mhead3, #mhead4, #mhead5, #mhead6, #mhead7{
    margin-top: 19px;
    text-align: center;
}

#mdesc1, #mdesc2, #mdesc3, #mdesc4, #mdesc5, #mdesc6, #mdesc7{
    text-align: center;
}

#pperson1 {
  position: absolute;
  top: 160px;
  left:3%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#pperson2 {
  position: absolute;
  top: 160px;
  left:22.6%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#pperson3 {
  position: absolute;
  top: 160px;
  left:42%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#pperson4 {
  position: absolute;
  top: 160px;
  left:61.7%;
    width: 160px;
    height: 220px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.5);
}

#phead1, #phead2, #phead3, #phead4{
    margin-top: 19px;
    text-align: center;
}

#pdesc1, #pdesc2, #pdesc3, #pdesc4{
    text-align: center;
}

#pimg1, #pimg2, #pimg3, #pimg4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    width: 70%;
}

#mcurr {
    position: absolute;
    top: 24px;
    font-family: arial;
    font-size: 21px;
    width: inherit;
    text-align: center;
}

#mpre {
    position: absolute;
    top: 24px;
    font-family: arial;
    font-size: 21px;
    width: inherit;
    text-align: center;
}

.mprevious{
    position: absolute;
    left: 23%;
    top: 200px;
    display: none;
    border: 1px solid;
    height:549px;
    width: 940px;
}

.mcurrent{    
    position: absolute;
    left: 23%;
    top: 200px;
    display: block;
    border: 1px solid;
    height:799px;
    width: 940px;
}
