.navbar {
    overflow: hidden;
    background-color: #262626;
    font-family: Arial;
    height: 54px;
    width: 100%;
    position: absolute;
    top: 0px;
   left: -0.4px;
}

#logo{
    position: absolute;
    z-index: 3;
    width: 52px;
    height: 40px;
}

.head3 {
    position: absolute;
    top: -3px;
    left: 06%;
    font-family: Arial;
    z-index: 1;
    color: white;
}

#drop1 {
    position: absolute;
    top: 4px;
    left: 71%;
    float: right;
    overflow: hidden;
}

#drop2 {
    position: absolute;
    top: 4px;
    left: 80%;
    float: right;
    overflow: hidden;
}

#drop3 {
    position: absolute;
    top: 4px;
    left: 62%;
    float: right;
    overflow: hidden;
}

#drop4 {
    position: absolute;
    top: 4px;
    left: 89%;
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.carousel-caption1 {
    position: absolute;
    top: 400px;
    color: black;
    font-family: arial;
    font-size: 26px;
    width: 700px;
    left: 04%;
    z-index: 1;
    text-shadow: 0px 0px #262626;    
}

#overhe1{
    position: absolute;
    top: 1237px;
    left: 1.6%;
    font-family: arial;
    font-size: 29px;
    color: white;
    text-shadow: 2px 2px #262626;
}

#overde2{
    position: absolute;
    top: 1320px;
    left: 1.6%;
    font-family: arial;
    font-size: 26px;
    color: white;
    width: 599px;
    text-shadow: 2px 2px 2px #262626;
}

#overhe2{
    position: absolute;
    top: 2030px;
    left: 1.6%;
    font-family: arial;
    font-size: 29px;
    color: white;
    text-shadow: 2px 2px #262626;
}

#overde3{
    position: absolute;
    top: 2100px;
    left: 1.6%;
    font-family: arial;
    font-size: 26px;
    color: white;
    text-shadow: 2px 2px 2px #262626;
}

#overhe3{
    position: absolute;
    height: 40px;
    width: 160px;
    top: 2800px;
    left: 2.4%;
    z-index: 7;
    font-family: arial;
    font-size: 29px;
    color: white;
    text-shadow: 2px 2px #262626;
}

#overde4{
    position: absolute;
    top: 2886px;
    left: 2.4%;
    font-family: arial;
    font-size: 26px;
    color: white;
    text-shadow: 2px 2px 2px #262626;
}

#img1{
    height: 820px;
    width: 101.1%;
    top: 54px;
    position: absolute;
    margin-bottom: -0.5%;
    left: 0px;
}

#img2{
    height: 820px;
    width: 101.1%;
    top: 874px;
    position: absolute;
    margin-bottom: -0.5%;
    left: -1px;;
}

#img3{
    height: 820px;
    width: 101.1%;
    top: 1694px;
    position: absolute;
    margin-bottom: -0.5%;
    left: -.9%;
}

#img4{
    height: 820px;
    width: 101.1%;
    top: 2514px;
    position: absolute;
    margin-bottom: -0.5%;
    left: -.9%;
}

#i1{
    position: fixed;
    top: 301px;
    left: 97.9%;
    color: white;
    font-size: 09px;
    z-index: 4;
}

#i2{
    position: fixed;
    top: 275px;
    left: 97.9%;
    color: white;
    font-size: 9px;
    z-index: 4;
}

#i3{
    position: fixed;
    top: 327px;
    left: 97.9%;
    color: white;
    font-size: 9px;
    z-index: 4;
}

#i4{
    position: fixed;
    top: 353px;
    left: 97.9%;
    color: white;
    font-size: 9px;
    z-index: 4;
}

#btn1 {
    position: absolute;
    top: 155px;
    left: 1.3%;
    background-color: inherit;
    border: 3px solid;
    color: white;
    height: 52px;
    font-size: 22px;
    width: 149px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.5);
    text-shadow: 2px 2px #262626;
}

#btn2 {
    position: absolute;
    top: 1447px;
    left: 3%;
    background-color: inherit;
    border: 3px solid;
    color: #262626;
    height: 54px;
    font-size: 20px;
    width: 156px;
    box-shadow: 0px 10px 16px 0px rgba(26,26,26,0.5);
}

#btn3 {
    position: absolute;
    top: 2205px;
    left: 2.5%;
    background-color: inherit;
    border: 3px solid;
    color: #262626;
    height: 55px;
    width: 150px;
    font-size: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.5);
}

#btn4 {
    position: absolute;
    top: 2907px;
    left: 18%;
    background-color: inherit;
    border: 3px solid;
    color: #262626;
    height: 52px;
    width: 160px;
    font-size: 24px;
}